<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Statement Analyzer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/diabetes test.png') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="after">
    <div class="icon-container">
        <img src="{{ url_for('static', filename='img/diabetes test.png') }}" alt="Custom Icon">
    </div>
    <div class="container-after mt-4">
        
        {% if text %}
        <div class="info-section d-flex align-items-center my-1">            
            
            <div class="result ms-3">
                <div class="alert alert-success text-center">
                    <h3>{{ text|safe }}</h3>
                </div>
            </div>
            
        </div>
    {% endif %}
    <div class="text-center mt-3">
            <a href="/" class="btn btn-primary w-100">Go Back To Home Page</a>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
